/* Import Font Calvino */

@font-face {
    font-family: calvino;
    src: url(../assets/font/calvino/Calvino-Grande-Black-trial.ttf);
}

/* Set Variables of Color */

:root {
    --primary-color: #61120d;
    --secondary-color: #f3b429;
}

/* Background Colors */

.bg-custom-st {
    background-color: var(--primary-color);
}

.bg-custom-nd {
    background-color: var(--secondary-color);
}

/* Text Colors */

.color-st{
    color: var(--primary-color) !important;
}

.color-nd {
    color: var(--secondary-color);
}

/* Fonts */

.font-calvino {
    font-family: calvino;
}

.font-open-sans {
    font-family: 'Open Sans', sans-serif;
}

.bold {
    font-weight: 800;
}

/* Config Button*/

.btn-custom{
    border: 1px solid var(--primary-color);
    border-radius: 60px;
    color: var(--secondary-color);
    font-weight: 400;
    background-color: var(--primary-color);
    text-decoration: none;
}

.btn-custom:hover {
    border: 1px solid var(--secondary-color);
    border-radius: 60px;
    color: var(--primary-color);
    background-color: var(--secondary-color);
}

/* Config Menu*/

.menu {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(99, 19, 13, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.close {
    background-image: url("../assets/img/close.png");
}

.width {
    width: 70px;
}
